<a href="https://colab.research.google.com/github/KIMMOOKYONG/KIMMOOKYONG/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/kaneelgit/Trading-strategy-.git

Cloning into 'Trading-strategy-'...
remote: Enumerating objects: 84, done.
remote: Counting objects: 100% (84/84), done.
remote: Compressing objects: 100% (73/73), done.
remote: Total 84 (delta 14), reused 71 (delta 8), pack-reused 0
Unpacking objects: 100% (84/84), done.

In [14]:
cd Trading-strategy-

/content/Trading-strategy-

# 테스트 코드 시작

In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import pandas as pd
data = pd.read_csv('009150.csv')
data

FileNotFoundError: ignored

In [ ]:
from stock_utils.stock_utils import *

In [ ]:
x = data.low.values.reshape(-1,1)
y = data.close.values.reshape(-1,1)

linear_regression(x, y)

0.8857625411353489

In [ ]:
data, idx_with_mins, idx_with_maxs = get_data('009150')

FileNotFoundError: ignored

In [ ]:
data

,date,open,high,low,close,volume,normalized_value,loc_min,loc_max
0,2021-01-04,1303,1346,1270,1318,8201712,0.631579,NaN,NaN
1,2021-01-05,1303,1313,1275,1299,6196628,0.631579,NaN,NaN
2,2021-01-06,1303,1432,1303,1342,30893261,0.302326,NaN,1342.0
3,2021-01-07,1370,1384,1318,1328,11004241,0.151515,NaN,NaN
4,2021-01-08,1346,1370,1308,1332,9862183,0.387097,NaN,NaN
...,...,...,...,...,...,...,...,...,...
305,2022-03-30,1395,1460,1375,1425,22564736,0.588235,NaN,NaN
306,2022-03-31,1440,1850,1420,1850,285947731,1.000000,NaN,NaN
307,2022-04-01,1955,2145,1810,1855,336975314,0.134328,NaN,NaN
308,2022-04-04,1880,1925,1830,1880,81235093,0.526316,NaN,NaN
309,2022-04-05,1890,2050,1865,1970,130550240,0.567568,NaN,1970.0

In [ ]:
idx_with_mins, idx_with_maxs

(array([ 19,  44,  79, 146, 158, 187, 213, 225, 242, 275, 290, 294]),
 array([  2,  14,  29,  65,  66, 105, 116, 148, 176, 231, 255, 267, 268,
        269, 285, 309]))

In [ ]:
data.iloc[idx_with_mins]

,date,open,high,low,close,volume,normalized_value,loc_min,loc_max
19,2021-01-29,1146,1161,1046,1052,18097538,0.052174,1052.0,NaN
44,2021-03-10,908,909,869,871,7769587,0.050000,871.0,NaN
79,2021-04-28,1094,1099,1061,1075,9758197,0.368421,1075.0,NaN
146,2021-08-03,2436,2474,2307,2341,15147763,0.203593,2341.0,NaN
158,2021-08-20,2274,2341,2198,2222,12410653,0.167832,2222.0,NaN
187,2021-10-06,2174,2203,1998,2022,12485224,0.117073,2022.0,NaN
213,2021-11-12,1812,1817,1670,1732,26190630,0.421769,1732.0,NaN
225,2021-11-30,1774,1803,1684,1713,6584231,0.243697,1713.0,NaN
242,2021-12-23,1675,1675,1560,1604,13289873,0.382609,1604.0,NaN
275,2022-02-14,1400,1415,1355,1380,6860177,0.416667,1380.0,NaN
290,2022-03-08,1405,1425,1375,1395,9087134,0.400000,1395.0,NaN
294,2022-03-15,1395,1415,1375,1395,5160769,0.500000,1395.0,NaN

In [ ]:
data.iloc[idx_with_maxs]

,date,open,high,low,close,volume,normalized_value,loc_min,loc_max
2,2021-01-06,1303,1432,1303,1342,30893261,3.023256e-01,NaN,1342.0
14,2021-01-22,1318,1403,1308,1375,21718126,7.052632e-01,NaN,1375.0
29,2021-02-16,1218,1284,1203,1261,22615970,7.160494e-01,NaN,1261.0
65,2021-04-08,1127,1218,1118,1166,62108348,4.800000e-01,NaN,1166.0
66,2021-04-09,1175,1180,1137,1166,15715354,6.744186e-01,NaN,1166.0
105,2021-06-07,3283,3982,3240,3983,284407801,1.001348e+00,NaN,3983.0
116,2021-06-22,3135,3692,3074,3564,297380459,7.928803e-01,NaN,3564.0
148,2021-08-05,2507,2912,2455,2703,163315055,5.426696e-01,NaN,2703.0
176,2021-09-15,2531,2721,2507,2636,53842827,6.028037e-01,NaN,2636.0
231,2021-12-08,1808,1879,1784,1837,9917763,5.578947e-01,NaN,1837.0
255,2022-01-12,1594,1927,1594,1775,77612177,5.435435e-01,NaN,1775.0
267,2022-01-28,0,0,0,1675,0,1.675000e+12,NaN,1675.0
268,2022-02-03,0,0,0,1675,0,1.675000e+12,NaN,1675.0
269,2022-02-04,0,0,0,1675,0,1.675000e+12,NaN,1675.0
285,2022-02-28,1525,1650,1470,1600,27511953,7.222222e-01,NaN,1600.0
309,2022-04-05,1890,2050,1865,1970,130550240,5.675676e-01,NaN,1970.0

In [ ]:
create_train_data('001440')

,volume,normalized_value,3_reg,5_reg,10_reg,20_reg,target
3,22615970,7.160494e-01,2.600000e+01,13.2,11.721212,-9.251880,1
4,7769587,5.000000e-02,-1.150000e+01,-8.0,-6.878788,-20.890977,0
5,62108348,4.800000e-01,3.100000e+01,9.9,4.218182,12.596992,1
6,15715354,6.744186e-01,3.100000e+01,25.2,4.915152,12.927068,1
7,9758197,3.684211e-01,-1.450000e+01,-9.0,-3.533333,2.354135,0
8,284407801,1.001348e+00,5.350000e+02,267.3,170.357576,69.355639,1
9,297380459,7.928803e-01,4.550000e+01,-3.7,-5.278788,100.084211,1
10,15147763,2.035928e-01,-3.100000e+01,-22.4,-9.727273,-23.716541,0
11,163315055,5.426696e-01,2.150000e+01,-16.7,-12.636364,-20.896241,1
12,12410653,1.678322e-01,-3.800000e+01,-60.5,-35.169697,-4.908271,0
13,53842827,6.028037e-01,2.650000e+01,10.5,12.569697,12.989474,1
14,12485224,1.170732e-01,-5.950000e+01,-49.6,-45.230303,-13.839098,0
15,26190630,4.217687e-01,-1.595000e+02,-74.7,-26.527273,-11.310526,0
16,6584231,2.436975e-01,-2.350000e+01,-15.2,-8.351515,-25.758647,0
17,9917763,5.578947e-01,7.000000e+00,13.7,-2.878788,-7.967669,1
18,13289873,3.826087e-01,-5.000000e+00,-13.3,-18.187879,-3.203759,0
19,77612177,5.435435e-01,-3.550000e+01,-19.1,-11.793939,-4.772180,1
20,0,1.675000e+12,0.000000e+00,0.0,9.563636,-1.970677,1
21,0,1.675000e+12,0.000000e+00,0.0,10.793939,-1.296241,1
22,0,1.675000e+12,0.000000e+00,0.0,10.236364,-0.293233,1
23,6860177,4.166667e-01,-6.750000e+01,-30.0,-25.757576,-8.130075,0
24,27511953,7.222222e-01,1.000000e+01,6.5,7.272727,-13.646617,1
25,9087134,4.000000e-01,-8.000000e+01,-49.0,5.000000,-0.454887,0
26,5160769,5.000000e-01,-6.280370e-16,0.0,-21.606061,0.184211,0
27,130550240,5.675676e-01,1.500000e+01,138.0,47.484848,18.101504,1